
body {
  padding: 16px 32px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
a:link {
  text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: deeppink;
  }
  a:hover {
    text-decoration: underline;
  }

p {
  margin-bottom: 24px;
  
}

/* We'll learn about this later on! */
aside p:last-of-type {
  margin-bottom: 0;
}

aside {
  background: peachpuff;
  border: 2px solid;
  padding: 16px;
}
aside a:link {
  text-decoration: underline;
}
aside a:visited {
  color: black;
}
aside a:hover {
  text-decoration: none;
}
